@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  main {
    grid-row: 2 / 3
  }
}

.carousel-item {
  max-width: 100px;
}